<a href="https://colab.research.google.com/github/dsloom/Supervised-machine-learning/blob/main/House_Pricing_Solution_corr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Models

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer

# Load Raw Data

In [ ]:
# reading from online
url = "https://drive.google.com/file/d/19URNvJqMVhZH9A_l9q8XU31klPD1px3K/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
data = pd.read_csv(path)

In [ ]:
# reading from local
data = pd.read_csv("./house_pricing_raw.csv")

## 1.1. Preprocessing

In [ ]:
# Dropping ID
data1 = data.copy()
id = data1.pop("Id")

# X and y creation
X = data1
y = X.pop("Expensive")

# data splitting
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X_train

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,MSZoning,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
254,8400,70.0,1314,3,0,0,1,250,0,RL,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1066,7837,59.0,799,3,1,0,2,0,0,RL,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
638,8777,67.0,796,2,0,0,0,328,0,RL,...,NaN,NaN,NaN,NaN,P,NaN,MnPrv,NaN,WD,Normal
799,7200,60.0,731,3,2,0,1,0,0,RL,...,Detchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
380,5000,50.0,1026,3,1,0,1,0,0,RL,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,9317,78.0,1314,3,1,0,2,0,0,RL,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
1130,7804,65.0,1122,4,2,0,2,431,0,RL,...,Detchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
1294,8172,60.0,864,2,0,0,2,0,0,RL,...,Detchd,Unf,TA,TA,N,NaN,NaN,NaN,WD,Normal
860,7642,55.0,912,3,1,0,1,0,0,RL,...,Detchd,Unf,TA,TA,Y,NaN,GdPrv,NaN,WD,Normal
1126,3684,53.0,1373,2,1,0,3,143,0,RL,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal

# Load Competition data

In [ ]:
# reading
url = "https://drive.google.com/file/d/15PfmTxmavQCT-f7iY9tgwWxm9t4GRees/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
comp_data1 = pd.read_csv(path)

In [ ]:
# reading from local
comp_data1 = pd.read_csv("./predict_data.csv")

In [ ]:
comp_data = comp_data1.copy()

In [ ]:
X_comp = comp_data
X_comp

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,MSZoning,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
0,11622,80.0,882.0,2,0,0,1.0,140,120,RH,...,Attchd,Unf,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
1,14267,81.0,1329.0,3,0,0,1.0,393,0,RL,...,Attchd,Unf,TA,TA,Y,NaN,NaN,Gar2,WD,Normal
2,13830,74.0,928.0,3,1,0,2.0,212,0,RL,...,Attchd,Fin,TA,TA,Y,NaN,MnPrv,NaN,WD,Normal
3,9978,78.0,926.0,3,1,0,2.0,360,0,RL,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal
4,5005,43.0,1280.0,2,0,0,2.0,0,144,RL,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1936,21.0,546.0,3,0,0,0.0,0,0,RM,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,WD,Normal
1455,1894,21.0,546.0,3,0,0,1.0,0,0,RM,...,CarPort,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
1456,20000,160.0,1224.0,4,1,0,2.0,474,0,RL,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Abnorml
1457,10441,62.0,912.0,3,0,0,0.0,80,0,RL,...,NaN,NaN,NaN,NaN,Y,NaN,MnPrv,Shed,WD,Normal
1458,9627,74.0,996.0,3,1,0,3.0,190,0,RL,...,Attchd,Fin,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [ ]:
house_id = X_comp.pop("Id")

In [ ]:
X_comp.columns

Index(['LotArea', 'LotFrontage', 'TotalBsmtSF', 'BedroomAbvGr', 'Fireplaces',
       'PoolArea', 'GarageCars', 'WoodDeckSF', 'ScreenPorch', 'MSZoning',
       'Condition1', 'Heating', 'Street', 'CentralAir', 'Foundation',
       'ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'KitchenQual', 'FireplaceQu', 'MSSubClass',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea',
       'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'KitchenAbvGr', 'TotRmsAbvGrd', 'GarageYrBlt', 'GarageArea',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'MiscVal', 'MoSold',
       'YrSold', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition2', 'BldgType', 'HouseStyle',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'BsmtFinType2', 'HeatingQC', 'Electrical', 'Functional', 'GarageType',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC',
       'Fence', 'MiscFeature', 'SaleType', 'SaleCondition'],
      dtype='object')

# Explanation of the columns

ordinal_col_names = ['ExterQual','ExterCond','BsmtQual', 'BsmtCond','BsmtExposure','BsmtFinType1',
'KitchenQual','FireplaceQu','LotShape','BsmtFinType2',
'HeatingQC','GarageFinish','GarageQual','GarageCond',
'PoolQC', 'Fence']

['ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond', 'BsmtExposure','BsmtFinType1', 'KitchenQual', 'FireplaceQu','LotShape','HeatingQC', 'GarageFinish', 'GarageQual', 'GarageCond','PoolQC', 'Fence', 'Utilities', 'CentralAir', 'Functional', 'BsmtFinType2', 'LandContour' ]

In [ ]:
X_num = X.select_dtypes(include="number")

In [ ]:
X_num.columns

Index(['LotArea', 'LotFrontage', 'TotalBsmtSF', 'BedroomAbvGr', 'Fireplaces',
       'PoolArea', 'GarageCars', 'WoodDeckSF', 'ScreenPorch', 'MSSubClass',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'MasVnrArea',
       'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'KitchenAbvGr', 'TotRmsAbvGrd', 'GarageYrBlt', 'GarageArea',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'MiscVal', 'MoSold',
       'YrSold'],
      dtype='object')

## Preprocessing

In [ ]:
# building the pipeline
X_cat = X.select_dtypes(exclude="number").copy()
X_num = X.select_dtypes(include="number").copy()

numeric_pipe = make_pipeline(
    SimpleImputer(strategy="constant"))

categoric_pipe = make_pipeline(
    SimpleImputer(strategy="constant", fill_value="NA"),
    OneHotEncoder(handle_unknown="ignore")
)

preprocessor = ColumnTransformer(
    transformers=[
        ("num_pipe", numeric_pipe, X_num.columns),
        ("cat_pipe", categoric_pipe, X_cat.columns),
    ]
)


# Ordinal Encoding - creation of categorical data
ExterQual_cats =    ["Po", "Fa", "TA", "Gd", "Ex"]
ExterCond_cats =    ["Po", "Fa", "TA", "Gd", "Ex"]
BsmtQual_cats =     ["NA", "Po", "Fa", "TA", "Gd", "Ex"]
BsmtCond_cats =     ["NA", "Po", "Fa", "TA", "Gd", "Ex"]
BsmtExposure_cats = ["NA", "No", "Mn", "Av", "Gd"]
BsmtFinType1_cats = ["NA", "Unf", "LwQ", "Rec", "BLQ", "ALQ", "GLQ"]
KitchenQual_cats =  ["NA","Po", "Fa", "TA", "Gd", "Ex"]
FireplaceQu_cats =  ["NA", "Po", "Fa", "TA", "Gd", "Ex"]
LotShape_cats =     ['IR3','IR2','IR1','Reg']
BsmtFinType2_cats = ["NA", "Unf", "LwQ", "Rec", "BLQ", "ALQ", "GLQ"]
HeatingQC_cats =    ["NA","Po", "Fa", "TA", "Gd", "Ex"]
GarageFinish_cats = ['NA','Unf','RFn','Fin']
GarageQual_cats =   ["NA", "Po", "Fa", "TA", "Gd", "Ex"]
GarageCond_cats =   ["NA", "Po", "Fa", "TA", "Gd", "Ex"]
PoolQC_cats =       ["NA","Fa", "TA", "Gd", "Ex"]
Fence_cats =        ["NA",'MnWw','GdWo','MnPrv','GdPrv']



ordinal_cats1 = [ExterQual_cats, ExterCond_cats, BsmtQual_cats, BsmtCond_cats, BsmtExposure_cats,
                 BsmtFinType1_cats, KitchenQual_cats,
                 FireplaceQu_cats, LotShape_cats, BsmtFinType2_cats,
                 HeatingQC_cats,
                 GarageFinish_cats, GarageQual_cats, GarageCond_cats,
                 PoolQC_cats, Fence_cats]


### 3.2.2. defining the categorical encoder: a ColumnTransformer with 2 branches: ordinal & onehot
ordinal_cols_names = ['ExterQual', 'ExterCond', 'BsmtQual', 'BsmtCond', 'BsmtExposure',
       'BsmtFinType1', 'KitchenQual', 'FireplaceQu', 'LotShape','BsmtFinType2',
       'HeatingQC', 'GarageFinish', 'GarageQual', 'GarageCond',
       'PoolQC', 'Fence']


# Get Indexer of the columns
ordinal_cols = X_cat.columns.get_indexer(ordinal_cols_names) # array([ 6,  7,  8,  9, 10, 11, 12, 13, 15, 29, 30, 34, 35, 36, 38, 39], dtype=int64)

ohe_cols = X_cat.columns.get_indexer(list(set(X_cat) - set(ordinal_cols_names))) # array([14, 40,  0,  2, 25, 37, 32, 42, 24,  3, 18,  5,  4, 26, 19, 17, 27,41, 21, 22, 31, 33,  1, 16, 23, 28, 20], dtype=int64)





categorical_encoder = ColumnTransformer(
    transformers=[
        ("cat_ordinal", OrdinalEncoder(categories=ordinal_cats1), ordinal_cols),
        ("cat_onehot", OneHotEncoder(handle_unknown="ignore"), ohe_cols),
    ]
)

## 3.3. categorical pipeline = "N_A" imputer + categorical encoder
categorical_pipe = make_pipeline(SimpleImputer(strategy="constant", fill_value="NA"),
                                 categorical_encoder
                                )

# 4. full preprocessing: a ColumnTransformer with 2 branches: numeric & categorical
full_preprocessing = ColumnTransformer(
    transformers=[
        ("num_pipe", numeric_pipe, X_num.columns),
        ("cat_pipe", categorical_pipe, X_cat.columns),
    ]
)

# 1. Decision Tree Model

In [ ]:
from sklearn.preprocessing import StandardScaler

from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
# full pipeline: preprocessor + model

full_pipeline = make_pipeline(full_preprocessing, StandardScaler(with_mean=False), DecisionTreeClassifier(random_state=40))

# define parameter grid
param_grid = {
    #"columntransformer__num_pipe__simpleimputer__strategy":["constant", "median"],
    #"standardscaler__with_mean":[True, False],
   # "standardscaler__with_std":[True, False],
    "decisiontreeclassifier__max_depth": range(2, 14, 2),
    "decisiontreeclassifier__min_samples_leaf": range(3, 12, 2),
    #"decisiontreeclassifier__min_samples_split": range(3, 40, 5),
    "decisiontreeclassifier__criterion":["gini", "entropy"]
}

# define GridSearchCV
randomized_search_cv = RandomizedSearchCV(full_pipeline,
                      param_grid,
                      cv=5,
                      scoring="accuracy",
                      verbose=1,
                      n_jobs=-2,
                      n_iter=100)

# fit
randomized_search_cv.fit(X_train, y_train)

# create a dictionary to keep track of the scores of different models
scores = {"dtree" : randomized_search_cv.best_score_}

scores

c:\Python\Python3108\lib\site-packages\sklearn\model_selection\_search.py:306: UserWarning: The total space of parameters 60 is smaller than n_iter=100. Running 60 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Fitting 5 folds for each of 60 candidates, totalling 300 fits

{'dtree': 0.9332122812809507}

#### Decision Tree (with another param grid)

In [ ]:
# full pipeline: preprocessor + model
full_pipeline = make_pipeline(full_preprocessing,
                              StandardScaler(with_mean=False),
                              DecisionTreeClassifier(random_state=40))

# define parameter grid
param_grid = {
    "columntransformer__num_pipe__simpleimputer__strategy":["constant", "median", "mean"],
   # "standardscaler__with_mean":[True, False],
    #"standardscaler__with_std":[True, False],
    "decisiontreeclassifier__max_depth": range(2, 14, 2),
    "decisiontreeclassifier__min_samples_leaf": range(3, 12, 2),
    "decisiontreeclassifier__min_samples_split": range(3, 40, 5),
    "decisiontreeclassifier__criterion":["gini", "entropy"]
}


randomized_search_cv_2 = RandomizedSearchCV(full_pipeline,
                      param_grid,
                      n_iter = 100,
                      cv=5,
                      scoring="accuracy",
                      verbose=1)

# fit
randomized_search_cv_2.fit(X_train, y_train)

# create a dictionary to keep track of the scores of different models
scores = {"dtree" : randomized_search_cv.best_score_}

scores

Fitting 5 folds for each of 100 candidates, totalling 500 fits

{'dtree': 0.9332122812809507}

#### Predict the external file -  Competition data (Predict_data.csv)

In [ ]:
y_test_pred_comp = randomized_search_cv.predict(X_comp)

In [ ]:
df_comp = pd.DataFrame(house_id)
df_comp["Expensive"] = y_test_pred_comp
df_comp

        Id  Expensive
0     1461          0
1     1462          0
2     1463          0
3     1464          0
4     1465          0
...    ...        ...
1454  2915          0
1455  2916          0
1456  2917          1
1457  2918          0
1458  2919          0

[1459 rows x 2 columns]

In [ ]:
df_comp.to_csv("./predict_data_completed_decisionTree.csv", index=False)

# 2. Random Forest Model:

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:

scaler = StandardScaler()


rfc_full_pipeline = make_pipeline(preprocessor,
                          StandardScaler(with_mean=False),
                          RandomForestClassifier()
                             )
param_grid = {
    "randomforestclassifier__n_estimators": [10, 20],
    "randomforestclassifier__max_depth": range(2, 14),
    "randomforestclassifier__min_samples_leaf": range(3, 12),
    "randomforestclassifier__criterion":["gini", "entropy"]

}

random_f_randomized_cv = RandomizedSearchCV(rfc_full_pipeline,
                      param_grid,
                      cv=5,
                      n_jobs=-2,
                      n_iter=50,
                      scoring='accuracy',
                      verbose=1)

random_f_randomized_cv.fit(X_train, y_train)

scores["rfc"] = random_f_randomized_cv.best_score_

random_f_randomized_cv.best_score_

Fitting 5 folds for each of 50 candidates, totalling 250 fits

0.9460548035655331

#### Predict the external file -  Competition data (Predict_data.csv)

In [ ]:
y_test_pred_comp_1 = random_f_randomized_cv.predict(X_comp)

In [ ]:
df_comp_r = pd.DataFrame(house_id)
df_comp_r["Expensive"] = y_test_pred_comp_1
df_comp_r

        Id  Expensive
0     1461          0
1     1462          0
2     1463          0
3     1464          0
4     1465          0
...    ...        ...
1454  2915          0
1455  2916          0
1456  2917          0
1457  2918          0
1458  2919          0

[1459 rows x 2 columns]

In [ ]:
df_comp_r.to_csv("./predict_data_completed_randomeForest.csv", index=False)